<%= link_to "Add a reminder", new_remind_path %>

<ul class="reminds">
  <% @reminds.each do |remind| %>
    <li class="<%= "completed" if remind.completed? %>"></li>
    <li><%= remind.title %></li>
    <li><%= button_to "Complete this", remind_completion_path(remind) %></li>
  <% end %>
</ul>
